In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: openpyxl in c:\users\lenovo\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et_xmlfile in c:\users\lenovo\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [74]:
file_path = "C:/Users/Lenovo/Downloads/transactions_dataset.xlsx"

In [75]:
df = pd.read_excel(file_path)

In [76]:
print(df.head())

  transaction_id user_id   amount payment_mode           timestamp  \
0       T0000001   U2604   273.09          UPI 2025-10-22 11:25:18
1       T0000002   U2369  1943.86          UPI 2025-03-05 18:31:37
2       T0000003   U4910  2777.23       Wallet 2025-01-15 15:58:36
3       T0000004   U4658   353.64       Wallet 2025-06-07 15:19:28
4       T0000005   U1188   336.38          UPI 2025-05-19 09:09:47

                 location device_type  is_fraud
0       Jaipur, Rajasthan      Mobile         0
1    Hyderabad, Telangana      Mobile         0
2       Pune, Maharashtra      Mobile         0
3  Indore, Madhya Pradesh      Mobile         0
4  Bhopal, Madhya Pradesh      Mobile         0

In [13]:
#How many total transactions happened?

In [77]:
total_transactions = df.shape[0]
print(f"Total transactions: {total_transactions}")

Total transactions: 200000

In [15]:
#What is the total money processed?

In [78]:
total_money_processed = df['amount'].sum()
print(f"Total money processed: {total_money_processed}")

Total money processed: 182632874.03365815

In [17]:
#What are the top payment modes used?

In [79]:
payment_mode_counts = df['payment_mode'].value_counts()
print("Top payment modes used:")
print(payment_mode_counts)

Top payment modes used:
payment_mode
UPI           108114
Wallet         58727
Card           19455
Netbanking     13704
Name: count, dtype: int64

In [19]:
#Which cities/states have the most transactions?

In [80]:
city_transaction_counts = df['location'].value_counts().reset_index()
city_transaction_counts.columns = ['City/State', 'Transaction Count']

# Display full table without truncation
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# Print title and table
print("="*70)
print("TRANSACTIONS BY CITY/STATE - COMPLETE LIST".center(70))
print("="*70)
print(city_transaction_counts.to_string(index=False))
print("="*70)
print(f"Total locations: {len(city_transaction_counts)}")
print(f"Total transactions: {city_transaction_counts['Transaction Count'].sum()}")

======================================================================
              TRANSACTIONS BY CITY/STATE - COMPLETE LIST
======================================================================
                                        City/State  Transaction Count
                               Mumbai, Maharashtra              11885
                                      Delhi, Delhi              11417
                              Bangalore, Karnataka               9629
                              Hyderabad, Telangana               8555
                               Chennai, Tamil Nadu               8129
                              Kolkata, West Bengal               7398
                                Ahmedabad, Gujarat               7153
                                 Pune, Maharashtra               6592
                                    Surat, Gujarat               5823
                                 Jaipur, Rajasthan               5700
                             Kanpur, Uttar Pradesh               5691
                            Lucknow, Uttar Pradesh               5546
                            Indore, Madhya Pradesh               4451
                               Nagpur, Maharashtra               4260
                     Visakhapatnam, Andhra Pradesh               4205
                             Meerut, Uttar Pradesh               4016
                                Jodhpur, Rajasthan               3847
                            Bhopal, Madhya Pradesh               3829
                           Varanasi, Uttar Pradesh               3816
                               Agra, Uttar Pradesh               3786
                               Madurai, Tamil Nadu               3595
                                 Vadodara, Gujarat               3454
                                Thane, Maharashtra               3316
                                 Ranchi, Jharkhand               3241
                          Allahabad, Uttar Pradesh               3234
                          Ghaziabad, Uttar Pradesh               3179
                                  Ludhiana, Punjab               3134
                                  Amritsar, Punjab               3100
                                      Patna, Bihar               3087
                           Gwalior, Madhya Pradesh               3036
                          Jabalpur, Madhya Pradesh               3012
                        Vijayawada, Andhra Pradesh               2951
                               Bhubaneswar, Odisha               2793
                            Coimbatore, Tamil Nadu               2678
                                Faridabad, Haryana               2602
                               Nashik, Maharashtra               2556
                                   Guwahati, Assam               2427
                                   Rajkot, Gujarat               2402
                            Chandigarh, Chandigarh               2366
                             Dehradun, Uttarakhand               2090
                                Dhanbad, Jharkhand               1946
                       Srinagar, Jammu and Kashmir               1795
                                   Cuttack, Odisha               1746
                           Aurangabad, Maharashtra               1666
                       Tiruchirappalli, Tamil Nadu               1211
                        Thiruvananthapuram, Kerala               1182
                                 Salem, Tamil Nadu               1180
                                     Kochi, Kerala               1120
                                 Agartala, Tripura                532
                                   Aizawl, Mizoram                522
                                  Kohima, Nagaland                469
                               Shillong, Meghalaya                447
                                       Panaji, Goa                386
                                   Gangtok, Sikkim                376
                                   Imphal, Manipur                374
                            Puducherry, Puducherry                371
Silvassa, Dadra and Nagar Haveli and Daman and Diu                269
           Port Blair, Andaman and Nicobar Islands                251
                            Kavaratti, Lakshadweep                176
======================================================================
Total locations: 59
Total transactions: 200000

In [ ]:
#How many fraud vs non-fraud transactions are there?

In [81]:
# Fraud vs non-fraud transactions
fraud_counts = df['is_fraud'].value_counts()
print("Fraud vs non-fraud transactions:")
print(fraud_counts)

Fraud vs non-fraud transactions:
is_fraud
0    197917
1      2083
Name: count, dtype: int64

In [30]:
#What is the average transaction amount?

In [82]:
average_transaction_amount = df['amount'].mean()
print(f"Average transaction amount: {average_transaction_amount}")

Average transaction amount: 913.1643701682907

In [32]:
#What is the distribution of transaction amounts? (small/medium/large)

In [91]:
bins = [0, 1000, 5000, np.inf]
labels = ['Small', 'Medium', 'Large']
df['transaction_size'] = pd.cut(df['amount'], bins=bins, labels=labels)

transaction_size_distribution = df['transaction_size'].value_counts()
print("Transaction amount distribution:")
print(transaction_size_distribution)

Transaction amount distribution:
transaction_size
Small     143761
Medium     53845
Large       2394
Name: count, dtype: int64

In [35]:
#Is there any pattern in fraud transactions by amount? (Do higher amounts get targeted?)

In [84]:
fraud_transactions = df[df['is_fraud'] == 1]
fraud_amount_stats = fraud_transactions['amount'].describe()
print("Fraud transactions amount stats:")
print(fraud_amount_stats)

Fraud transactions amount stats:
count     2083.000000
mean      2034.799762
std       2452.924481
min        162.437101
25%        687.246349
50%       1383.978249
75%       2412.955757
max      30423.714615
Name: amount, dtype: float64

In [37]:
#Which device types are most common? Are frauds more on certain devices?

In [85]:
# Count of transactions by device type
device_type_counts = df['device_type'].value_counts()
print("Transactions by device type:")
print(device_type_counts)

# Check if fraud is more common on certain devices
fraud_device_type = fraud_transactions['device_type'].value_counts()
print("Fraud transactions by device type:")
print(fraud_device_type)

Transactions by device type:
device_type
Mobile    149971
Web        39968
Tablet     10061
Name: count, dtype: int64
Fraud transactions by device type:
device_type
Mobile    1549
Web        424
Tablet     110
Name: count, dtype: int64

In [39]:
#Time trend: On which days/times do most transactions happen? (Time Series analysis)

In [92]:
# Extract datetime info
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract day of the week and hour of the day
df['day_of_week'] = df['timestamp'].dt.day_name()
df['hour_of_day'] = df['timestamp'].dt.hour

# Count transactions by day of the week
day_of_week_counts = df['day_of_week'].value_counts()
print("Transactions by day of the week:")
print(day_of_week_counts)

# Count transactions by hour of the day
hour_of_day_counts = df['hour_of_day'].value_counts().sort_index()
print("Transactions by hour of the day:")
print(hour_of_day_counts)

Transactions by day of the week:
day_of_week
Thursday     28896
Monday       28815
Wednesday    28810
Friday       28464
Saturday     28454
Tuesday      28321
Sunday       28240
Name: count, dtype: int64
Transactions by hour of the day:
hour_of_day
1       354
2       390
3       416
4       265
5       856
6      2130
7      4527
8      7545
9     10183
10    11519
11    12105
12    12029
13    11572
14    10546
15     8975
16     8827
17    11654
18    15492
19    16005
20    12698
21     9253
22     7333
23    25326
Name: count, dtype: int64